.search__form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    align-self: center;
}

.search__form__input {
    width: calc(100% - 120px); /* Adjusted width to accommodate both buttons with some space between them */
    height: 45px;
    outline: none;
    padding-left: 25px;
    font-size: .9rem;
    border-color: #FFE26E;
    border-style: solid;
    border-radius: 10px;
}

.search__form__button {
    position: absolute;
    height: 45px;
    width: 50px;
    background-color: #FFE26E;
    color: rgb(0, 0, 0);
    right: 60px; /* Adjusted positioning to provide some space between the input and the voice icon */
    font-weight: bold;
    border-color: #FFE26E;
    border-style: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.voice__button {
    position: absolute;
    height: 45px;
    width: 50px;
    background-color: transparent; /* Make the background transparent */
    color: #000000; /* Change the color to black */
    right: 0px; /* Positioned next to the search icon */
    font-weight: bold;
    border-color: #000000;
    border-style: solid;
    border-radius: 50%; /* Make the button circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.voice__language__container select {
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #FFE26E; 
    border-radius: 5px;
    background-color: #ffffff; 
    color: #333; 
  }
  
  .voice__language__container select:focus {
    outline: none;
    border-color: #2c3e50; 
  }
    
  .active-mic {
    color: green;
  }
  
@media screen and (max-width: 600px) {
    .search__form {
        width: 200px;
    }
}
